<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="text" formControlName="bookName" placeholder="Book Name" name="bookName" class="form-control" id="bookName">
    </div>

    <div class="form-group">
      <label for="author"> Author:</label>
      <input formControlName="author" placeholder="Author" name="author" class="form-control" id="author">
    </div>

    <div class="form-group">
      <label for="bookAbstract">Abstract:</label>
      <input formControlName="bookAbstract" placeholder="Abstract" name="bookAbstract" class="form-control" id="bookAbstract">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>