<div class="col-md-12">
  <h2 class="text-center">Add Book</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="text" formControlName="bookName" placeholder="Book Name" name="bookName" class="form-control" id="bookName">
    </div>

    <div class="form-group">
      <label for="author"> Author:</label>
      <input formControlName="author" placeholder="Author" name="author" class="form-control" id="author">
    </div>

    <div class="form-group">
      <label for="abstract">Abstract:</label>
      <input formControlName="bookAbstract" placeholder="Abstract" name="abstract" class="form-control" id="abstract">
    </div>

    <button class="btn btn-success">Add Book</button>
  </form>
</div>

